@model IEnumerable<NopCommerce.Api.Connector.DTOs.ProductApi>

@{
    Layout = "Layout.cshtml";
}

<ul>
    @foreach (var product in Model)
    {
        <li>@product.Name - <a href="/UpdateProduct/@product.Name">Replace Product</a></li>     
    }
</ul>